<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>AK-Store</title>

        <!-- CSS FILES -->
        <link rel="preconnect" href="https://fonts.googleapis.com">

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;700;900&display=swap" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/bootstrap-icons.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/slick.css') }}" rel="stylesheet">

        <link href="{{ url_for('static', filename='css/tooplate-little-fashion.css') }}" rel="stylesheet">

    </head>
    
    <body>

        <section class="preloader">
            <div class="spinner">
                <span class="sk-inner-circle"></span>
            </div>
        </section>
    
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <a class="navbar-brand" href="{{ url_for('routes.index') }}">
                        <strong><span>Genric</span> Store</strong>
                    </a>

                    <div class="d-lg-none">
                        <a href="{{ url_for('routes.login') }}" class="bi-person custom-icon me-3"></a>

                        <a href="product-detail.html" class="bi-bag custom-icon"></a>
                        <!-- {{ url_for('routes.login') }} -->
                    </div>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav mx-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('routes.index') }}">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('routes.about') }}">Story</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{  url_for('routes.products') }}">Products</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('routes.faq') }}">FAQs</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('routes.contact') }}">Contact</a>
                            </li>
                            <!-- Dynamic dashboard link -->
                            {% if current_user.is_authenticated and current_user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('routes.dashboard') }}">Dashboard</a>
                            </li>
                            {% endif %}
                        </ul>


                    </ul>

                    <!-- START DYNAMIC BLOCK 2: For desktop view -->
                        <div class="d-none d-lg-block">
                        {% if current_user.is_authenticated %}
                            <!-- If user is logged in, show their username and a logout link -->
                            <span class="me-3">Hi, {{ current_user.username }}!</span>
                            <a href="{{ url_for('routes.logout') }}" class="bi-box-arrow-right custom-icon me-3"></a>
                        {% else %}
                            <!-- If user is logged out, show login link -->
                            <a href="{{ url_for('routes.login') }}" class="bi-person custom-icon me-3"></a>
                        {% endif %}

                            <a href="product-detail.html" class="bi-bag custom-icon"></a>
                        </div>
                    <!-- END DYNAMIC BLOCK 2 -->

                    </div>
                </div>
            </nav>

            {% block content %}{% endblock %}

        </main>

        <footer class="site-footer">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-10 me-auto mb-4">
                        <h4 class="text-white mb-3"><a href="{{ url_for('routes.index') }}">Genric</a> Store</h4>
                        <p class="copyright-text text-muted mt-lg-5 mb-4 mb-lg-0">Copyright © 2022 <strong>Genric Store</strong></p>
                    </div>

                    <div class="col-lg-5 col-8">
                        <h5 class="text-white mb-3">Sitemap</h5>

                        <ul class="footer-menu d-flex flex-wrap">
                            <li class="footer-menu-item"><a href="{{ url_for('routes.about') }}" class="footer-menu-link">Story</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Products</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Privacy policy</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">FAQs</a></li>

                            <li class="footer-menu-item"><a href="#" class="footer-menu-link">Contact</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-4">
                        <h5 class="text-white mb-3">Social</h5>

                        <ul class="social-icon">

                            <li><a href="#" class="social-icon-link bi-youtube"></a></li>

                            <li><a href="#" class="social-icon-link bi-whatsapp"></a></li>

                            <li><a href="#" class="social-icon-link bi-instagram"></a></li>

                            <li><a href="#" class="social-icon-link bi-skype"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>

        <!-- JAVASCRIPT FILES -->
        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Headroom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jQuery.headroom.js') }}"></script>
        <script src="{{ url_for('static', filename='js/slick.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/custom.js') }}"></script>


    </body>
</html>
